/* インスタバー表示 */

.fadeup_ins {
    animation-name: fadeupani_ins;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadeupani_ins {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/

.fadeUpTrigger {
    opacity: 0;
}